

h1{
    color: chocolate;
}
.display-2 p, h1:hover{ 
    color: white;
    text-shadow: 2px 1px chocolate;
    
}
form{
    background-image: url(backimg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
    
}
form label{
    text-shadow: 2px 2px white;
}
form .btn , button{
    color: white;
    background-color:chocolate;

}
form .btn:hover , button:hover{
    color: chocolate;
    border: solid 2px chocolate;
    
}
.border{
    border-bottom:5px solid chocolate !important;
}

